@font-face {
    font-family: 'Kyiv-Medium';
    src: local('./font/'),
    url('../font/KyivTypeSans-VarGX.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-size: clamp(4rem, 2.9957rem + 5.5604vw, 8rem);
    font-family: Kyiv-Medium;
    line-height: 1.05;
    color: #FFFFFF;
}